body {
    background-color: rgb(236, 236, 236);
  }
  ul {
    background-color: #489FB5;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'IBM Plex Mono', monospace;
    color: #E1E2EF;
    padding-left: 20px;
    
  
  }
  .home {
    padding-left: 20px;
  }


  html,body {
    margin:0;
    padding:0;
    background-color: #32292F;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    li{
      font-size: 25px;
      margin-top: 5px;
      -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

    .pfp {
      margin: 0;
      padding: 0;
      -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
      float: right
      
      

    }

    .shop {
      padding-right: 15px;
      float: right;
      -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   
   }

   .cont {
    float: right
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
   }

   .about {
    float: right;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   }
   

   p1{
    font-family: 'IBM Plex Mono', monospace;
    color: #E1E2EF;
    font-size: 20;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   }

   .box{
   padding-top: 50;
   padding-left: 20;
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   }
  

  #rcorners1 {
    border-radius: 20px;
    background: #4b3f47;
    margin-top: 35;
    margin-left: 20;
    margin-right: 20; 
    padding-left: 20;
    padding-top: 10;
    width: auto;
    height: 150px;
    font-family: 'IBM Plex Mono', monospace;
    color: #E1E2EF;
    font-size: 20;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


  footer {
    
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2b2328;
    color: rgba(255, 255, 255, 0.39);
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  /* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.cart {
  margin: 0;
  padding: 0;
  float: right;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    

  

}

#rcorners2 {
  border-radius: 20px;
  background: #4b3f47;
  margin-top: 35;
  margin-left: 20;
  margin-right: 20; 
  padding-left: 20;
  padding-top: 10;
  width: 400px;
  height: 500px;
  font-family: 'IBM Plex Mono', monospace;
  color: #E1E2EF;
  font-size: 20;
  display: inline-block;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.shopimg {
  margin-left: -11px;
  margin-top: 10px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.Itemimg {
  
margin-left: 150;
margin-top: 50  ;
display: inline-block;

-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#itemview {
  
  border-radius: 20px;
  background: #4b3f47;
  margin-top: 40;
  margin-left: 0;
  margin-right: 150; 
  
  padding-left: 20;
  padding-top:  10;
  width: 650px;
  height: 750px;
  font-family: 'IBM Plex Mono', monospace;
  color: #E1E2EF;
  font-size: 40;
  display: inline-block;
  float: right;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .moneynumber {
    float: right;
    margin-top: 10;
    margin-right: 20;
    font-size: 25
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
     
    
  }

  .Cart2 {
    float: right;
    margin-top: 500;
    margin-right: 40;
    cursor: pointer;
    background-color: #489FB5;
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 35;
    padding-left: 10;
    padding-right: 10;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

   .Cart2:hover  { 
    background-color: #489fb5d7;
    border: none;
 color: white;
 text-align: center;
 opacity: 0.6;
 transition: 0.2s;
 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


  .Itemdiscription {
    display: block;
    margin-top: 50;
    margin-right: 11;
    font-size: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }

  



  .noitems {
    font-size: 40;
    margin-left: 450px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    
    

  }

  #rcorners6 {
    border-radius: 20px;
    background: #4b3f47;
    margin-top: 35;
    margin-left: 20;
    margin-right: 20; 
    padding-left: 20;
    padding-top: 10;
    width: auto;
    height: 150px;
    font-family: 'IBM Plex Mono', monospace;
    color: #E1E2EF;
    font-size: 20;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }

  .Xbutt {
    
    
    background-color: #b54848;
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    color: #E1E2EF;
    cursor: pointer;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }

  .imgboxca {
    margin-top: -25;
    margin-right: 20;
    float: right;
    
    
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


  .aboutext {
    text-align: center;
    color: #E1E2EF;
    font-family: 'IBM Plex Mono', monospace;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }

  .pandu{
    
    font-family: 'IBM Plex Mono', monospace;
    color: #E1E2EF;
    font-size: 30;
    font-style: ;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;



  }
  .pandu2{
   
    
   
    
    
    font-family: 'IBM Plex Mono', monospace;
    color: #252525;
    width: 500;
    height: 50;
    font-size: 30;
    size: 20;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;



  }
  .pandubut{
    display: inline-block;
    
    margin-top: 50;
    margin-right: 20;
    
    
   
    
    
    font-family: 'IBM Plex Mono', monospace;
    color: #252525;
    width: 150;
    height: 50;
    size: 20;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;



  }

  .move{
    margin-top: 300;
   
      padding: 70px 0;
      
      text-align: center;
      -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }

  .g-recaptcha{ 
    display: inline-block;
    margin-top: 20;
    margin-right: 40 ;
    
    
   
    
    
  }

  .clearshoplogo {
   
    font-family: 'IBM Plex Mono', monospace;
    color: #ffffff;
   text-align: center;
   margin-top: 10;
   
    font-size: 80;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
    
  




  

  